.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    width: 260px;
    background-color: lightgray;
  }
  
  .text {
    display: flex;
    gap: 6px;
  }

  .button {
    display: flex;
    gap: 8px;
    cursor: pointer;
  
    color: black;
    padding: 10px;
    border-radius: 4px;
    margin: 0;
  }

  .wrapper {
    display: flex;
    gap: 8px;
    padding: 4px;
    font-size: 16px;
    flex-direction: column;
  }