.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 8px;
    position: relative;
    width: 100%;
   
  }
  
  .containerLi {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .liInfo {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 8px;
    font-size: 16px;
  }
  
  .name,
  .number {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .deleteButton {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 12px;
  }